#main {
    
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: rgb(212, 209, 209);
    font-family: 'Alata', sans-serif;
    
  }
  a{
      text-decoration:none;
      font-family: 'Oswald', sans-serif;
      font-size: 30px;
  }
  li{
      list-style-type:none;
  }
  
  
  #img-div {
    width: 100%;
    display: grid;
    grid-template-columns: (100%,100%);
 justify-content: center;
    text-align: center;
   
   
  }
  
  #image {
    max-width: 10000px;
    
   
   
    
  }