#main {
    width: 1100px;
    position: absolute;
    
    
  }
  
  #img-div {
    width: 100%;
    display: grid;
    grid-template-columns: (100%,100%);
 justify-content: center;
    text-align: center;
    margin-left: 10%;
   
  }
  
  #image {
    max-width: 10000px;
    
   
   
    
  }